
#wb_header { background: transparent none no-repeat scroll center bottom; height: 112px; }
#wb_main { background: transparent none repeat scroll left top; height: 990px; padding-bottom: 200px; }
#wb_footer { background: transparent none repeat-x scroll left top; height: 56px; }
body { background: transparent url("../images/51d7f49f25cc12c0e9115c38fd0ad3c3.jpg") no-repeat scroll center top; }
.wb_sbg { background: transparent none repeat-x scroll left top; }
body, .wb_sbg { min-width: 320px; min-height: 1158px; }
.root { width: 320px; height: 1158px; overflow: hidden; min-height: 1158px; }
#wb_element_instance0 { left: 50px; top: 10px; min-width: 230px; width: 230px; min-height: 90px; height: 90px; display: block; z-index: 176; }
#wb_element_instance0 img { width: 230px; height: 90px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance1 p:last-child { margin-bottom: 0; }
#wb_element_instance1 { left: 10px; top: 480px; min-width: 310px; width: 310px; min-height: 255px; height: 255px; display: block; z-index: 177; }
#wb_element_instance2 { left: 0px; top: 470px; min-width: 320px; width: 320px; min-height: 320px; height: 320px; display: block; z-index: 144; }
#wb_element_instance2 > div.wb_shp { background: #1c171c; border: 5px solid #C0C0C0; opacity: 0.5; border-radius: 10px 10px 10px 10px; -moz-border-radius: 10px 10px 10px 10px; -webkit-border-radius: 10px 10px 10px 10px; width: 320px; height: 320px; }
#wb_element_instance3 p:last-child { margin-bottom: 0; }
#wb_element_instance3 { left: 0px; top: 40px; min-width: 320px; width: 320px; min-height: 440px; height: 440px; display: block; z-index: 180; }
#wb_element_instance4 { left: 0px; top: 0px; min-width: 320px; width: 320px; min-height: 470px; height: 470px; display: block; z-index: 179; overflow: hidden; }
#wb_element_instance4 img { width: 380px; height: 470px; display: block; position: relative; left: 0px; top: 0px; max-width: inherit; }
#wb_element_instance5 { left: 0px; top: 760px; display: block; z-index: 9000; }
#wb_element_instance6 { left: 0px; top: 20px; display: block; z-index: 9999; }


@media (min-width: 768px) {
	#wb_header { height: 217px; }
	#wb_main { height: 830px; }
	#wb_footer { height: 50px; }
	body, .wb_sbg { min-width: 768px; min-height: 1097px; }
	.root { width: 768px; height: 1097px; overflow: visible; min-height: 1097px; }
	#wb_element_instance0 { left: 210px; top: 30px; min-width: 420px; width: 420px; min-height: 160px; height: 160px; display: block; overflow: hidden; }
	#wb_element_instance0 img { width: 420px; height: 163.90243902439px; display: block; position: relative; left: 0px; top: 0px; max-width: inherit; }
	#wb_element_instance1 { left: 20px; top: 410px; min-width: 730px; width: 730px; min-height: 119px; height: 119px; display: block; }
	#wb_element_instance2 { left: 10px; top: 390px; min-width: 750px; width: 750px; min-height: 240px; height: 240px; display: block; }
	#wb_element_instance2 > div.wb_shp { width: 750px; height: 240px; }
	#wb_element_instance3 { left: 340px; top: 20px; min-width: 410px; width: 410px; min-height: 352px; height: 352px; display: block; }
	#wb_element_instance4 { left: 10px; top: 20px; min-width: 290px; width: 290px; min-height: 350px; height: 350px; display: block; }
	#wb_element_instance4 img { width: 290px; height: 350px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance5 { left: 0px; top: 760px; display: block; }
	#wb_element_instance6 { left: 0px; top: 20px; display: block; }
}

@media (min-width: 992px) {
	#wb_header { height: 192px; }
	#wb_main { height: 940px; }
	#wb_footer { height: 74px; }
	body, .wb_sbg { min-width: 992px; min-height: 1206px; }
	.root { width: 992px; height: 1206px; overflow: visible; min-height: 1206px; }
	#wb_element_instance0 { left: 280px; top: 20px; min-width: 420px; width: 420px; min-height: 160px; height: 160px; display: block; overflow: hidden; }
	#wb_element_instance0 img { width: 420px; height: 163.90243902439px; display: block; position: relative; left: 0px; top: 0px; max-width: inherit; }
	#wb_element_instance1 { left: 20px; top: 520px; min-width: 940px; width: 940px; min-height: 154px; height: 154px; display: block; }
	#wb_element_instance2 { left: 10px; top: 500px; min-width: 970px; width: 970px; min-height: 240px; height: 240px; display: block; }
	#wb_element_instance2 > div.wb_shp { width: 970px; height: 240px; }
	#wb_element_instance3 { left: 390px; top: 20px; min-width: 590px; width: 590px; min-height: 308px; height: 308px; display: block; }
	#wb_element_instance4 { left: 10px; top: 20px; min-width: 370px; width: 370px; min-height: 450px; height: 450px; display: block; }
	#wb_element_instance4 img { width: 370px; height: 450px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance5 { left: 0px; top: 760px; display: block; }
	#wb_element_instance6 { left: 0px; top: 20px; display: block; }
}

@media (min-width: 1200px) {
	#wb_header { height: 180px; }
	#wb_main { height: 890px; }
	#wb_footer { height: 83px; }
	body, .wb_sbg { min-width: 1200px; min-height: 1153px; }
	.root { width: 1200px; height: 1153px; overflow: visible; min-height: 1153px; }
	#wb_element_instance0 { left: 380px; top: 10px; min-width: 430px; width: 430px; min-height: 170px; height: 170px; display: block; overflow: hidden; }
	#wb_element_instance0 img { width: 435.11904761905px; height: 170px; display: block; position: relative; left: 0px; top: 0px; max-width: inherit; }
	#wb_element_instance1 { left: 20px; top: 480px; min-width: 1160px; width: 1160px; min-height: 189px; height: 189px; display: block; }
	#wb_element_instance2 { left: 10px; top: 470px; min-width: 1180px; width: 1180px; min-height: 220px; height: 220px; display: block; }
	#wb_element_instance2 > div.wb_shp { width: 1180px; height: 220px; }
	#wb_element_instance3 { left: 420px; top: 20px; min-width: 680px; width: 680px; min-height: 264px; height: 264px; display: block; }
	#wb_element_instance4 { left: 20px; top: 20px; min-width: 370px; width: 370px; min-height: 450px; height: 450px; display: block; }
	#wb_element_instance4 img { width: 370px; height: 450px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance5 { left: 0px; top: 760px; display: block; }
	#wb_element_instance6 { left: 0px; top: 20px; display: block; }
}
