
#wb_header { background: #262626 none repeat scroll left top; height: 140px; }
#wb_main { background: transparent none repeat-x scroll left top; height: 750px; }
#wb_footer { background: #262626 none repeat-x scroll left top; height: 51px; }
body { background: #ffffff url("../images/f6ecf8e68095a10efc2207ce9161c4e1.jpg") repeat-x scroll center top; }
.wb_sbg { background: transparent none repeat-x scroll left top; }
body, .wb_sbg { min-width: 320px; min-height: 941px; }
.root { width: 320px; height: 941px; overflow: hidden; min-height: 941px; }
#wb_element_instance0 { left: 50px; top: 30px; min-width: 220px; width: 220px; min-height: 80px; height: 80px; display: block; z-index: 17; }
#wb_element_instance0 img { width: 220px; height: 80px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance1 { left: 210px; top: 50px; min-width: 200px; width: 200px; min-height: 70px; height: 70px; display: block; z-index: 18; }
#wb_element_instance1 img { width: 200px; height: 70px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance2 p:last-child { margin-bottom: 0; }
#wb_element_instance2 { left: 20px; top: 480px; min-width: 280px; width: 280px; min-height: 252px; height: 252px; display: block; z-index: 204; }
#wb_element_instance3 { left: 0px; top: 460px; min-width: 320px; width: 320px; min-height: 290px; height: 290px; display: block; z-index: 203; }
#wb_element_instance3 > div.wb_shp { background: #212121; border: 0px solid #C0C0C0; opacity: 0.95; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; width: 320px; height: 290px; }
#wb_element_instance4 { left: 0px; top: 0px; min-width: 320px; width: 320px; min-height: 460px; height: 460px; display: block; z-index: 194; overflow: hidden; }
#wb_element_instance4 img { width: 330.04484304933px; height: 460px; display: block; position: relative; left: 0px; top: 0px; max-width: inherit; }
#wb_element_instance5 { left: 0px; top: 0px; min-width: 320px; width: 320px; min-height: 200px; height: 200px; display: none; z-index: 205; background: #000000; }
#wb_element_instance6 { left: 0px; top: 50px; min-width: 320px; width: 320px; min-height: 210px; height: 210px; display: block; z-index: 206; }
#wb_element_instance7 { left: 0px; top: 900px; display: block; z-index: 9000; }
#wb_element_instance8 { left: 0px; top: 20px; display: block; z-index: 9999; }


@media (min-width: 768px) {
	#wb_header { height: 140px; }
	#wb_main { height: 827px; }
	#wb_footer { height: 84px; }
	body, .wb_sbg { min-width: 768px; min-height: 1051px; }
	.root { width: 768px; height: 1051px; overflow: visible; min-height: 1051px; }
	#wb_element_instance0 { left: 290px; top: 30px; min-width: 220px; width: 220px; min-height: 80px; height: 80px; display: block; }
	#wb_element_instance0 img { width: 220px; height: 80px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance1 { left: 210px; top: 50px; min-width: 200px; width: 200px; min-height: 70px; height: 70px; display: block; }
	#wb_element_instance1 img { width: 200px; height: 70px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance2 { left: 20px; top: 656px; min-width: 720px; width: 720px; min-height: 168px; height: 168px; display: block; }
	#wb_element_instance3 { left: 0px; top: 637px; min-width: 760px; width: 760px; min-height: 190px; height: 190px; display: block; }
	#wb_element_instance3 > div.wb_shp { width: 760px; height: 190px; }
	#wb_element_instance4 { left: 0px; top: 0px; min-width: 320px; width: 320px; min-height: 360px; height: 360px; display: none; overflow: hidden; }
	#wb_element_instance4 img { width: 330.04484304933px; height: 460px; display: block; position: relative; left: 0px; top: 0px; max-width: inherit; }
	#wb_element_instance5 { left: 0px; top: 0px; min-width: 320px; width: 320px; min-height: 200px; height: 200px; display: none; }
	#wb_element_instance6 { left: 0px; top: 170px; min-width: 760px; width: 760px; min-height: 470px; height: 470px; display: block; }
	#wb_element_instance7 { left: 0px; top: 900px; display: block; }
	#wb_element_instance8 { left: 0px; top: 20px; display: block; }
}

@media (min-width: 992px) {
	#wb_header { height: 140px; }
	#wb_main { height: 880px; }
	#wb_footer { height: 84px; }
	body, .wb_sbg { min-width: 992px; min-height: 1104px; }
	.root { width: 992px; height: 1104px; overflow: visible; min-height: 1104px; }
	#wb_element_instance0 { left: 340px; top: 30px; min-width: 220px; width: 220px; min-height: 80px; height: 80px; display: block; }
	#wb_element_instance0 img { width: 220px; height: 80px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance1 { left: 210px; top: 50px; min-width: 200px; width: 200px; min-height: 70px; height: 70px; display: block; overflow: hidden; }
	#wb_element_instance1 img { width: 400px; height: 519px; display: block; position: relative; left: 0px; top: 0px; max-width: inherit; }
	#wb_element_instance2 { left: 20px; top: 660px; min-width: 950px; width: 950px; min-height: 180px; height: 180px; display: block; }
	#wb_element_instance3 { left: 0px; top: 650px; min-width: 990px; width: 990px; min-height: 190px; height: 190px; display: block; }
	#wb_element_instance3 > div.wb_shp { width: 990px; height: 190px; }
	#wb_element_instance4 { left: 670px; top: 0px; min-width: 320px; width: 320px; min-height: 460px; height: 460px; display: block; overflow: hidden; }
	#wb_element_instance4 img { width: 330.04484304933px; height: 460px; display: block; position: relative; left: 0px; top: 0px; max-width: inherit; }
	#wb_element_instance5 { left: 670px; top: 450px; min-width: 320px; width: 320px; min-height: 200px; height: 200px; display: block; }
	#wb_element_instance6 { left: 10px; top: 260px; min-width: 650px; width: 650px; min-height: 620px; height: 620px; display: block; }
	#wb_element_instance7 { left: 0px; top: 900px; display: block; }
	#wb_element_instance8 { left: 0px; top: 20px; display: block; }
}

@media (min-width: 1200px) {
	#wb_header { height: 140px; }
	#wb_main { height: 920px; }
	#wb_footer { height: 84px; }
	body, .wb_sbg { min-width: 1200px; min-height: 1144px; }
	.root { width: 1200px; height: 1144px; overflow: visible; min-height: 1144px; }
	#wb_element_instance0 { left: 460px; top: 30px; min-width: 220px; width: 220px; min-height: 80px; height: 80px; display: block; }
	#wb_element_instance0 img { width: 220px; height: 80px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance1 { left: 210px; top: 50px; min-width: 200px; width: 200px; min-height: 70px; height: 70px; display: block; overflow: hidden; }
	#wb_element_instance1 img { width: 400px; height: 519px; display: block; position: relative; left: 0px; top: 0px; max-width: inherit; }
	#wb_element_instance2 { left: 20px; top: 700px; min-width: 1160px; width: 1160px; min-height: 216px; height: 216px; display: block; }
	#wb_element_instance3 { left: 0px; top: 690px; min-width: 1200px; width: 1200px; min-height: 230px; height: 230px; display: block; }
	#wb_element_instance3 > div.wb_shp { width: 1200px; height: 230px; }
	#wb_element_instance4 { left: 880px; top: 0px; min-width: 320px; width: 320px; min-height: 460px; height: 460px; display: block; overflow: hidden; }
	#wb_element_instance4 img { width: 330.04484304933px; height: 460px; display: block; position: relative; left: 0px; top: 0px; max-width: inherit; }
	#wb_element_instance5 { left: 880px; top: 470px; min-width: 320px; width: 320px; min-height: 200px; height: 200px; display: block; }
	#wb_element_instance6 { left: 10px; top: 110px; min-width: 860px; width: 860px; min-height: 560px; height: 560px; display: block; }
	#wb_element_instance7 { left: 0px; top: 900px; display: block; }
	#wb_element_instance8 { left: 0px; top: 20px; display: block; }
}
