* {
  outline: none
}

body {
  padding: 0;
  margin: 0
}

.videoBlock {
  margin: auto;
  height: 473px;
  width: 100%;
  position: relative;
  background: black
}

.videoBlock video {
  display: block;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute
}

.videoBlockFull {
  position: fixed;
  min-width: 100% !important;
  min-height: 100% !important;
  top: 0
}

.videoBlock {
  position: relative
}

.videoBlock .pausSreenShow {
  display: block !important
}


/*.videoBlock .pausSreen{
	width:100%;height:100%;position:absolute;z-index:99;top:0;display:none;background-image:url(../img/p.jpg);
	background-position:center;background-size:cover
}*/

.videoBlock .pausSreen .pausSreenInfBlock {
  width: 100%;
  height: 50px;
  max-height: 100px;
  background: black;
  opacity: 0.8;
  position: absolute;
  top: 0;
  color: white;
  transition-duration: .5s;
  cursor: pointer
}

.videoBlock .pausSreen .pausSreenInfBlock:hover {
  opacity: 1
}

.videoBlock .pausSreen .pausSreenInfBlock .nowWatchBlock, .videoBlock .pausSreen .pausSreenInfBlock .viewsBlock, .videoBlock .pausSreen .pausSreenInfBlock .starsBlock, .videoBlock .pausSreen .pausSreenInfBlock .votesBlock {
  width: 50%;
  height: 50%;
  position: absolute;
  text-align: center
}

.videoBlock .pausSreen .pausSreenInfBlock .nowWatchBlock .innerBlock, .videoBlock .pausSreen .pausSreenInfBlock .viewsBlock .innerBlock, .videoBlock .pausSreen .pausSreenInfBlock .starsBlock .innerBlock, .videoBlock .pausSreen .pausSreenInfBlock .votesBlock .innerBlock {
  margin-top: 4px;
  width: 100%
}

.videoBlock .pausSreen .pausSreenInfBlock .nowWatchBlock {
  left: 0;
  top: 0
}

.videoBlock .pausSreen .pausSreenInfBlock .viewsBlock {
  left: 0;
  bottom: 0
}

.videoBlock .pausSreen .pausSreenInfBlock .starsBlock {
  right: 0;
  top: 0;
  padding-top: 5px
}

.videoBlock .pausSreen .pausSreenInfBlock .starsBlock .starBlock {
  width: 20px;
  position: relative;
  margin: auto;
  display: inline-block;
  margin-left: -5px
}

.videoBlock .pausSreen .pausSreenInfBlock .starsBlock .starBlock .left, .videoBlock .pausSreen .pausSreenInfBlock .starsBlock .starBlock .right {
  width: 10px;
  height: 20px;
  display: inline-block;
  position: absolute;
  opacity: .5
}

.videoBlock .pausSreen .pausSreenInfBlock .starsBlock .starBlock .right {
  right: 0
}

.videoBlock .pausSreen .pausSreenInfBlock .votesBlock {
  right: 0;
  bottom: 0
}

.videoBlock .pausSreen .pausSreenBG {
  width: 100%;
  height: 100%;
  background: black;
  opacity: .5
}

.videoBlock .pausSreen img {
  position: absolute;
  width: 20%;
  max-width: 200px;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  cursor: pointer;
  transition-duration: .5s
}

.videoBlock .pausSreen img:hover {
  width: 25%;
  max-width: 250px
}

.videoBlock .pausSreen img:active {
  width: 23%;
  max-width: 230px
}

.controlPanel {
  opacity: 1;
  cursor: pointer;
  transition-duration: 0.5s;
  position: absolute;
  z-index: 999;
  bottom: 0px;
  /*width:calc(100% - 30px);*/
  width: 100%;
  /*margin-left:10px;*/
  background: rgba(45, 44, 44, 0.9);
  /*padding-left:5px;
  padding-right:5px;*/
  height: 40px
}

.controlPanel * {
  cursor: pointer
}

.controlPanel .progressBar, .controlPanel button {
  display: inline-block
}

.controlPanel button {
  /*width: 16px;
  border: 0;*/
  background: transparent;
  /*overflow: hidden*/
}

.controlPanel button i {
  font-size: 10px;
  color: white;
  transition-duration: 0.5s
}

.controlPanel button i:hover {
  color: #ccc
}

.controlPanel button i:active {
  color: #b3b3b3
}

.controlPanel .volume i {
  pointer-events: none;
  font-size: 10px;
  color: white;
  transition-duration: 0.5s;
  position: absolute;
  top: 75%;
  left: -9px;
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  width: 13px;
  height: 13px;
  background: #535353;
  text-align: center;
  border-radius: 10px;
  font-size: 13px !important;
  padding: 4px;
  overflow: hidden;
  box-shadow: 1px 0px 11px 0px rgba(8, 8, 8, 0.55);
}

.controlPanel .volume i:hover {
  color: #ccc
}

.controlPanel .volume i:active {
  color: #b3b3b3
}

.controlPanel .currentTime, .controlPanel .fullTime {
  color: #afafaf;
  position: absolute !important;
  top: 12px;
  left: 50px;
  padding: 0;
  margin: 0;
  line-height: 0;
  font-size: 15px !important;
  width: 90px !important;
}

.controlPanel .volume {
  color: white;
  display: inline;
  position: relative;
  position: absolute !important;
  left: 140px;
  padding: 0;
  margin: 0;
  line-height: 0;
  font-size: 0px !important;
  margin-top: -3px;
}

.controlPanel .volume .line {
  /* opacity: 0; */
  position: absolute;
  width: 14px;
  height: 55px;
  left: -4.5px;
  top: -7px;
  z-index: 9999;

  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  transform: rotate(-90deg);

  transition-duration: 0s;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.controlPanel .volume .line .defaultVolumeLine {
  height: 100%;
  width: 3px;
  border-radius: 5px;
  background: black;
  margin: auto;
  position: relative;
  /*overflow: hidden*/
}

.controlPanel .volume .line .defaultVolumeLine .setVolumeLine {
  border-radius: 5px;
  width: 100%;
  height: 0;
  background: #ff6600;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0px;
  z-index: 999
}

.controlPanel .volume .lineShow {
  opacity: 1 !important
}

.controlPanel .progressBar {
  width: 100%;
  height: 5px;
  overflow: hidden;
  position: absolute;
  top: -6px;
}

.controlPanel .progressBar .defaultBar {
  height: inherit;
  width: 100%;
  background: #7f3300;
  position: absolute
}

.controlPanel .progressBar .playBar {
  position: absolute;
  z-index: 999;
  height: inherit;
  width: 0%;
  background: #ff6600;
}

.controlPanel {
  display: block !important
}

.controlPanel * {
  font-size: 7px !important;
  line-height: 1 !important
}

.playAndPauseBtn {
  position: absolute;
  top: 5px !important;
  left: 9px;
  padding: 0;
  margin: 0;
  line-height: 0;
  border: 0;
  padding: 8px;
  background: #535353 !important;
  border-radius: 50px;
  font-size: 11px;
  width: 30px;
  height: 30px;
  box-shadow: 1px 0px 11px 0px rgba(8, 8, 8, 0.75);
  transition: 0.5s;
}

.playAndPauseBtn:hover {
  box-shadow: 1px 0px 11px 1px rgba(8, 8, 8, 0.75);
}

.playAndPauseBtn i {
  font-size: 12px !important
}

.fullScreenBtn {
  position: absolute;
  top: 9px;
  right: 10px;
  padding: 0;
  margin: 0;
  line-height: 0;
  font-size: 20px !important;
  border: 0;
}

.fullScreenBtn i {
  font-size: 17px !important
}

.volume i {
  font-size: 20px !important
}

.display-none {
  display: none !important
}


/*.poster{background-image:url(../img/p.jpg);background-position:center;background-size:cover}*/

.poster .inf-hover-video {
  font-size: 15px;
  position: absolute;
  top: 0px;
  background: rgba(0, 0, 0, 0.65);
  height: 70px;
  width: 99%;
  margin-right: 5px;
  margin-left: 5px;
}

.poster .inf-hover-video .row {
  color: #c3c3c3;
  max-width: 100%;
  padding: 5px 10px 5px 10px;
}

.poster .inf-hover-video .row .hover-text {
  color: #009eff;
  font-weight: bold;
}

.poster .inf-hover-video .row .left, .cont-all .cont .left-cont .cont-video .inf-hover-video .row .right {
  display: inline-block;
  /*width: 40%;*/
}

.poster .inf-hover-video .row .stars-block-full {
  display: flex;
  text-align: right;
  float: right;
  color: #009eff;
}

.poster .inf-hover-video .row .stars-info-block {
  width: 175px;
  height: 20px;
  float: right;
  display: flex;
  position: relative;
}

.poster .inf-hover-video .row .stars-info-block .voice {
  position: absolute;
  right: 0;
}

.poster .inf-hover-video .row .stars-block {
  padding-right: 10px;
  text-align: right;
  display: flex;
  width: 5px;
  height: 17px;
  position: relative;
  padding-left: 3px;
}

.poster .inf-hover-video .row .stars-block .star-block-left {
  height: 17px;
  width: 7px;
  position: absolute;
  margin-left: 3px;
  opacity: 0.2;
  left: 0;
}

.poster .inf-hover-video .row .stars-block .star-block-right {
  height: 17px;
  width: 8px;
  position: absolute;
  opacity: 0.2;
  right: 0;
}

i.fa.fa-play {
  padding: 2px 3px;
  transition: 0 !important;
}

i.fa.fa-pause {
  padding: 2px 3px;
  transition: 0 !important;
}